/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili di pagina */

body{
    font-family: Helvetica, sans-serif;
}

/* nav bar */

nav{
    background-color: rgb(7, 83, 234);
    height: 45px;
}

#nav-container{
    display: flex;
    justify-content: center;
}

.nav-col{
    flex-basis: 15%;
    /* DEBUG */
    border: 1px solid black ;
    font-size: 18px;
    margin-top: 10px;
    
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.link{
    flex-basis:50%;
}

.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.nav-col > ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

a{
   text-decoration: none;
   color: black;
}

.link li{
    display: flex;
    margin:0 30px;
}

#main-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    /* DEBUG */
    height: 300px;
}

#header-content-container{
    background-color: rgb(200, 128, 128);
    /* DEBUG */
    height: 200px;
    width: 60%;
}
